/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Fondo color turquesa claro */
    color: #333;
}

header {
    background-color: #b2dfdb; /* Fondo del título más claro */
    color: #004d40; /* Color del título más oscuro */
    padding: 20px 0;
    text-align: center;
    font-size: 41px;
    font-weight: bold;
}

/* Navigation Styles */
nav ul 
    display: flex;
    justify-content: center
    


